attrs==24.2.0
Automat==24.8.1
constantly==23.10.4
future==1.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
ipaddress==1.0.23
netifaces==0.11.0
scapy==2.5.0
setuptools==75.1.0
Twisted==24.7.0
typing_extensions==4.12.2
zope.interface==7.0.3
